@use "../common" as *;
@use "../layout" as *;

.works {
  max-width: 500px;
  margin-inline: auto;

  @include mq(lg) {
    max-width: 1200px;
  }
}

.works__lead-text {
  margin-top: 24px;
  font-size: 16px;
  text-align: center;
}

.works__list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  @include mq(lg) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.works__item {
  background: $bg-light;
  padding: 20px 10px;
  width: 100%;

  @include mq(lg) {
    width: 400px;
  }

  @include mq(pc) {
    width: 500px;
  }
}

.works__item-title {
  font-size: 18px;
  text-align: left;
  color: #333;
  font-weight: 700;
}

.works__item-block {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.works__item-link {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  padding: 5px;
  font-weight: 500;
  border: 2px solid $accent-blue;
  border-radius: 10px;
  transition: transform 0.6s;

  &:hover {
    transform: translateY(-7px);
  }
}

.works__item-link--git {
  background: $accent-blue;
  color: $font-color;
}

.works__item-link--url {
  background: $bg-light;
  color: $accent-blue;
}

.works__item-img {
  margin-top: 15px;
  max-width: 350px;
  box-shadow: 0 0 15px rgba($accent-blue, 0.3);
  margin-inline: auto;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.6s;
  }
}
